.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 20px;
  border: 2px solid #20202096;
  background-color: #d3d3d33b;
  margin: 10px;
  text-shadow: rgb(255, 255, 255) 3px 0px 0px,
    rgb(255, 255, 255) 2.83487px 0.981584px 0px,
    rgb(255, 255, 255) 2.35766px 1.85511px 0px,
    rgb(255, 255, 255) 1.62091px 2.52441px 0px,
    rgb(255, 255, 255) 0.705713px 2.91581px 0px,
    rgb(255, 255, 255) -0.287171px 2.98622px 0px,
    rgb(255, 255, 255) -1.24844px 2.72789px 0px,
    rgb(255, 255, 255) -2.07227px 2.16926px 0px,
    rgb(255, 255, 255) -2.66798px 1.37182px 0px,
    rgb(255, 255, 255) -2.96998px 0.42336px 0px,
    rgb(255, 255, 255) -2.94502px -0.571704px 0px,
    rgb(255, 255, 255) -2.59586px -1.50383px 0px,
    rgb(255, 255, 255) -1.96093px -2.27041px 0px,
    rgb(255, 255, 255) -1.11013px -2.78704px 0px,
    rgb(255, 255, 255) -0.137119px -2.99686px 0px,
    rgb(255, 255, 255) 0.850987px -2.87677px 0px,
    rgb(255, 255, 255) 1.74541px -2.43999px 0px,
    rgb(255, 255, 255) 2.44769px -1.73459px 0px,
    rgb(255, 255, 255) 2.88051px -0.838247px 0px;
  .card-name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c4abff;
    overflow: hidden;
    width: 220px;
    height: 40px;
    font-weight: 500;
    text-align: center;
    border-radius: 18px 18px 0 0;
    > p {
      margin: 0 30px;
    }
    > button.delete {
      position: absolute;
      cursor: pointer;
      right: 5px;
      appearance: none;
      border: none;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      background-color: #ff5c74;
      color: white;
      font-weight: bolder;
    }
  }
  .card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 20px 10px;
    object-fit: contain;
    transition: all ease 0.25s;
    transform: scale(0.8);

    cursor: pointer;
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white)
      drop-shadow(0 0 1px white) drop-shadow(0 0 1px white)
      drop-shadow(0 0 1px white) drop-shadow(0 0 1px white)
      drop-shadow(0 0 1px white) drop-shadow(0 0 1px white)
      drop-shadow(0 0 1px white) drop-shadow(0 0 1px white)
      drop-shadow(0 0 1px white) drop-shadow(0 0 1px rgb(0, 0, 0));
    &:hover {
      transform: scale(1.1) rotate(8deg);
    }
  }
  .new-element,
  .new-img {
    cursor: pointer;

    width: 220px;
    height: 240px;

    appearance: none;
    outline: none;
    border: none;
    background-color: transparent;

    &.new-img {
      object-fit: contain;
      opacity: 0.4;
    }

    font-size: 20px;
    font-weight: 500;
  }
  .card-info {
    display: flex;
    gap: 2px;
    border-top: 2px solid #20202096;
    border-radius: 0 0 18px 18px;
    background-color: #20202096;
    height: 25px;
    width: 220px;
    > div {
      display: flex;
      justify-content: center;
      width: 50%;
      margin: 0;
      text-align: center;
      font-weight: 500;
      color: #202020;
      overflow: hidden;

      &.count {
        background-color: #fff6bd;
        border-radius: 0 0 0 18px;
      }
      &.reposition {
        background-color: #ffb5ab;
        border-radius: 0 0 18px 0;
      }
      > p,
      span {
        flex: 0.5;
        margin: 0;
      }
    }
  }
  &.new {
    .card-info,
    .card-name {
      background-color: #d3d3d33b;
      border-top: 1px #d3d3d33b solid;
    }
  }
}
